.video {
  //   max-width: 1100px;
  //   height: 300px;
  //   position: fixed;
  //   position: absolute;

  height: 300px;
  width: 100%;
  @media all and (max-width: 600px) {
    height: 100%;
  }
}
